.table_header_label{
    margin : 0px;
    font-family : NotoSansBold;
    font-size : 14px;
    text-align: center;
    color : #000 !important;
}
.table_header_div{
    border : 1px solid #787878;
}
.table_column_div{
    border-right : 1px solid #787878;
    border-top : 1px solid #787878;
    border-bottom: 1px solid #787878;
}
.table_data_label{
    margin : 0px;
    font-family : NotoSansRegular;
    font-size : 14px;
    text-align: left;
    color : #000 !important;
    padding-top : 2px;
}
.table_data_div{
    padding-top : 5px;
    border-right : 1px solid #787878;
    border-left : 1px solid #787878;
    border-bottom: 1px solid #787878;
}
.sub_icon{
    text-align: center;
    padding-bottom : 5px
}
.downloadIcon{
    color: #1890ff;
}