.logo{
    padding-top : 20px;
    text-align: center;
}

.shortTitle{
    font-family : NotoSansBold;
    font-size : 18px;
    color : #fff;
    margin : 5px 0px;
}

.defaultLogo{
    color : #fbad1f !important
}

.menuList{
    font-family : NotoSanRegular;
    margin-top : 20px;
}

.itemLabel {
    font-size : 14px !important;
    margin : 12px;
    color : #fff !important
}