.inner-content {
    min-height : 90vh;
    margin : 5px;
    background-color: #fff;
}
.headerLayout {
    background-color: #fff;
    padding : 0px 20px;
    height : 80px;
}
.headerLayoutContent{
    margin-top : 15px;
}
.headerDiv{
    padding : 10px;
    height : 80px;
}

.pageTitle{
    margin : 8px 0px 0px 0px;
    font-family : NotoSansBold;
    font-size : 22px;
    color : #000 !important;
}

.pageSubtitle{
    color : #666;
    font-size : 14px;
    font-family : NotoSansRegular;
    margin : 0px;
}
.ant-layout-footer{
    padding :0px;
}

@media screen and (max-width : 460px) {
    .pageTitle{
        font-size : 18px;
        margin-top: 0px;
        color : #fff !important;
    }
    
    .pageSubtitle{
        font-size : 12px;
        color : #fff !important;
    }
    .inner-content {
        min-height: 80vh;
    }
    .headerLayout{
        min-height: 8vh;
        background-color: #001529;
    }
    .defaultLogo{
        color : #fbad1f !important
    }
    .headerDiv{
        padding-left: 10px;
    }
    .headerLayoutContent{
        margin-top : 10px;
    }
    .headerLayoutFooter {
        min-height: 10%;
        background-color: #001529;
        overflow: hidden;
      }

}
