<nz-content class = "component_Layout" >
    <div nz-row [nzGutter]="[8,8]" style = "width: 100%; margin-bottom : 2px;"> 
        <div nz-col  [nzSm]="20">
            <div nz-row style ="width : 100%;margin-bottom :2px;"[nzGutter]="[4,0]" *ngIf = "displayFilter">
                <nz-col  *ngFor = "let filter_row of filterObj">
                    <nz-col [nzSm]="24" >
                        <span ><cds-icon [attr.shape]="filter_row['ICON']" size = "12"></cds-icon></span>
                        <span class = "filter_heading">{{filter_row['HEADING']}}</span>
                    </nz-col>
                    <nz-col [nzSm]="24">
                        <nz-radio-group nzButtonStyle="solid" [nzSize] = "'small'">
                            <label nz-radio-button *ngFor = "let row of filter_row['DATA']" [nzValue]="row.VALUE" class = "filter_label">{{row.LABEL}}</label>
                        </nz-radio-group>
                    </nz-col>
                </nz-col>
            </div>
        </div>
        <div nz-col [nzSm]="4">
            <span ><cds-icon [attr.shape]="'search'" size = "12"></cds-icon></span>
            <span class = "filter_heading">Search</span>
            <nz-input-group  class ="searhbox" nzSearch [nzAddOnAfter]="suffixIconButton">
                <nz-select nzMode = "tags" [nzPlaceHolder] = "'Search ' + PrimaryKey" [nzMaxTagCount] = "4" nzSize = "small"
                class = "search_select" [(ngModel)] = 'selectedValue' (ngModelChange) ="searchSelected()"
               > <!--[(ngModel)] = '' (ngModelChange)-->
                    <nz-option *ngFor = "let o of listOfOption"
                    [nzValue]="" [nzValue]=""
                    ></nz-option>
                </nz-select>
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch nzSize ="small" class = "searchbutton" ((click)) ="searchSelected()">
                    <i nz-icon nzType="search"></i></button>
              </ng-template>
        </div>
    </div>
</nz-content>