.search_select {
    text-align: left;
    // margin-top: 8px;
    font-size : 10px;
    width: 100%;
}

.searchbutton {
    margin: 1px 8px 0px 0px;
    background: #722ed1 !important;
    border-color: #722ed1 !important;
    color: #fff 1important;
    font-family: NotoSansBold ! important;
    box-shadow: none !important;
}

.searchbox {
    position: absolute;
    bottom: 0;
}

.filter_heading {
    font-family: NotoSansBold;
    font-size: 10px;
    padding-left: 5px;
}

.filter_label {
    font-family: NotoSanRegular;
    font-size:  8px;
}

::ng-deep .ant-input-group-addon {
    padding-top: 5px !important;
    font-size: 10px !important;
    color: #fff !important
}

::ng-deep .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background: #722ed1 !important;
    border-color: #722ed1 !important;
}
::ng-deep .ant-input-group-addon {
    padding-top : 0px!important
}
::ng-deep .ant-select-item-option-content{
    font-size : 12px;
    font-family: NotoSanRegular;
}