<ng-template #template>
    <div class="ant-notification-notice-content">
      <div class="ant-notification-notice-with-icon">
        <span class="ant-notification-notice-icon">
            <ng-container [ngSwitch]="status">
                <ng-container *ngSwitchCase="'error'">
                    <span nz-icon nzType="close-circle" style="color: rgb(255, 77, 79);"></span>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <span nz-icon nzType="check-circle" style="color: rgb(16, 142, 233);"></span>
                </ng-container>
            </ng-container>
        </span>
        <div class="ant-notification-notice-message"><p class = "notif_title">{{title}}</p></div>
        <div class="ant-notification-notice-description">
            <p class = "notif_msg">{{message}}</p>
        </div>
      </div>
    </div>
  </ng-template>