/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family : NotoSansBold;
    src: url('~/assets/fonts/notosans/NotoSans-Bold.ttf');
}

@font-face {
    font-family : NotoSansRegular;
    src: url('~/assets/fonts/notosans/NotoSans-Regular.ttf');
}
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html, body {
    width: 100%; 
    height: 100%;
}
.component_Layout{
  padding : 10px 10px
}
}
