.primary_key{
    color : gold
}
.mobile_div{
    width: 85%;
}
.mobile_view_main_div{
    padding : 0px 10px
}
.delete_icon{
    color: red;
    padding-left : 10px;
}
.table_label{
    padding-left: 5px;
    font-size : 12px;
    font-family : NotoSansBold;
}
.normalHeading{
    text-align: center;

}
.normaltd{
    max-width: 300px;
    overflow: scroll;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.action_td{
    text-align: center;
}
::ng-deep .ant-input-group-addon {
    padding-top: 5px !important;
    font-size: 10px !important;
    color: #fff !important
}

::ng-deep .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background: #722ed1 !important;
    border-color: #722ed1 !important;
}
::ng-deep .ant-input-group-addon {
    padding-top : 0px!important
}
::ng-deep .ant-select-item-option-content{
    font-size : 12px;
    font-family: NotoSanRegular;
}