<div [ngClass] = "mobileView ? 'mobile_view_main_div': ''">
  <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a table" [(ngModel)]="selectedTable" [ngClass] = "mobileView ? 'mobile_div': ''">
      <nz-option *ngFor = "let row of TABLE_NAME" [nzValue]="row['TABLE_NAME']" [nzLabel]="row['TABLE_NAME']"></nz-option>
  </nz-select>
  <button nz-button nzType="primary" nzShape="circle" (click)="searchTableinDB()">
    <cds-icon [attr.shape]="'script-execute'" size="16"></cds-icon>
  </button>
</div>
<!--Search bar...-->
<app-filter-bar [PrimaryKey]="'HOSTNAME'" [displayFilter]="false" [mobileView] = "mobileView"
  (searchEvent)="searchActivated($event)"></app-filter-bar>

<ng-container *ngIf="TABLE_DATA.length > 0">
  <nz-table #editRowTable nzBordered [nzData]="TABLE_DATA"  style="padding-top: 25px;"
  [nzShowPagination]="TABLE_DATA.length > 10 ? true : false" [nzScroll]="{x : '1100px'}"
    >
    <thead>
      <tr>
        <ng-container *ngFor="let item of TABLE_COLUMN | keyvalue">
          <th class="primaryHeading" *ngIf="item.value['PRIMARY'] == 'PRIMARY'" nzWidth="140px" >
            <span class="primary_key"><cds-icon [attr.shape]="'key'" size="16"
                *ngIf="item.value['PRIMARY'] == 'PRIMARY'"></cds-icon></span>
            <span class="table_label">{{item.key}}</span>
          </th>
          <th class="normalHeading" *ngIf="item.value['PRIMARY'] !== 'PRIMARY'">
            <span class="table_label">{{item.key}}</span>
          </th>
        </ng-container>
        <th class="normalHeading" nzWidth="120px">
          <span class="table_label">ACTION</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="editable-row" *ngFor="let data of displayData">
        <ng-container *ngIf="editId == data[selectedColumn]">
          <td *ngFor="let item of TABLE_COLUMN | keyvalue">
            <textarea nz-input [(ngModel)]="editData[item.key]"></textarea>
          </td>
          <ng-container *ngIf="selectedAction == 'EDIT'">
            <td class="action_td">
              <a class="edit_icon" nz-tooltip nzTooltipTitle="Save" (click)="saveEdit(editData)"><cds-icon
                  shape="upload" size="16"></cds-icon></a>
              <a class="delete_icon" nz-tooltip nzTooltipTitle="Close" (click)="stopEdit()"><cds-icon
                  shape="window-close" size="16"></cds-icon></a>
            </td>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="editId !== data[selectedColumn]">
          <td *ngFor="let item of TABLE_COLUMN | keyvalue">
            {{ data[item.key] }}
          </td>
          <td class="action_td">
            <a class="edit_icon" nz-tooltip nzTooltipTitle="Edit" (click)="startEdit(data, 'EDIT')"><cds-icon
                shape="pencil" size="16"></cds-icon></a>
            <a class="delete_icon" nz-tooltip nzTooltipTitle="Delete" nz-popconfirm nzPopconfirmTitle="Sure to delete?"
              (nzOnConfirm)="deleteEntry(data)"><cds-icon shape="trash" size="16"></cds-icon></a>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </nz-table>
</ng-container>

<app-notification-card *ngIf="displayError" [status]="'error'" [message]="ErrorMsg"></app-notification-card>